<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @recipe.User %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @recipe.discription %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
